body {
    padding-left: 200px; /* Ajusta o conteúdo para não ficar sob o menu */
    padding-top: 60px; /* Ajusta o conteúdo para não ficar sob qualquer cabeçalho fixo, se houver */
  }
  
  /* Se você tiver um container principal que envolve todo o conteúdo, você pode aplicar o padding nele em vez do body */
  #main-container {
    padding-left: 200px;
    padding-top: 60px;
  }

.button-row {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.p-button-sm {
  padding: 8px 12px; /* Ajuste o padding conforme necessário para alterar o tamanho */
}