.menu {
  width: 250px;
  background-color: #333; /* Cor de fundo do menu */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Sombra à direita do menu */
  height: 100vh; /* Altura do menu para preencher a tela */
  position: fixed; /* Fixa o menu na tela */
  top: 0; /* Posiciona o menu no topo */
  left: 0; /* Posiciona o menu na esquerda */
  display: flex;
  flex-direction: column; /* Layout vertical dos itens do menu */
}

.menu h2 {
  color: #fff; /* Cor do texto do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.menu ul {
  list-style-type: none; /* Remove marcadores da lista */
  padding: 0; /* Remove padding da lista */
  margin: 0; /* Remove margin da lista */
}

.menu li {
  margin: 10px 0; /* Espaçamento entre os itens do menu */
}

.menu a {
  color: #fff; /* Cor do texto dos links */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 1rem; /* Tamanho da fonte */
  display: block; /* Faz os links ocuparem toda a largura */
  padding: 10px; /* Espaçamento interno dos links */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.menu a:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
  border-radius: 5px; /* Bordas arredondadas ao passar o mouse */
}
